@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

body {
  text-align: center;
  width: 70%;
  margin:auto;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  border: 1px dashed grey;
  padding: 50px;
}

img {
  width: 200px;
  height: auto;
}
